.electronicContainer {
  padding: 30px;
}
.electronicContainer h2 {
  color: green;
  font-size: 37px;
}
.electronicContainer p {
  margin: 20px 0;
  font-size: 16px;
}

.elctronicProductContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

/* .electronicBgImages {
  width: 1300px;
  height: 300px;
  margin: 30px auto;
  animation-name: changeBgImage;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes changeBgImage {
  0% {
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.Y4qYnfBcJYws4EWi4IS9IQHaE0?w=284&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  25% {
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.UWq7vk4ORU9nxmV7-R-oMAHaEr?w=292&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  50% {
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.-dRnhIJXe5Ynn3b3yFguVwHaE8?w=277&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  75% {
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.xOrRDFqHw_SCAcC-Yog6PQHaEK?w=279&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    width: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.uw7wJR2EQPQJ9IQ9dprpQAHaE7?w=189&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
} */
